body{
background-color:#708090;
}
.img_topo{
    width: 30%;
}
.img_corpo{
    width: 30%;
}
.container{
    width: 80%;
    margin: auto;
}
h1{
    text-align: center;
    font-size: 2.5em;
}
p{
font-size: 1.8em;
text-align: center;
}
figure{
    text-align: center
}
footer{
  background-color: #15202b;
  padding-top: 2%;
  padding-bottom: 2%;


}

footer p{
    color: #696969;
    font-weight: bold;
    font-size: 1em;
    
}